name: Building deno for armhf Raspberry Pi OS
run-name: ${{ github.actor }} is building deno for armhf Raspberry Pi OS
on:
  push:
    tags:
      - '*'
permissions:
  contents: write

jobs:
  build-for-armhf:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Preparing repository
        uses: actions/checkout@v4
      - name: Preparing armhf chroot
        id: preparing-armhf-chroot
        run: |
          sh ${{ github.workspace }}/prepare-host-package.sh
      - name: Building deno for armhf raspbian
        id: building_deno_armhf_raspbian
        run: |
          cp -v ${{ github.workspace }}/prepare-build-chroot.sh /tmp/
          cp -v ${{ github.workspace }}/build-deno.sh /tmp/
          cp -v ${{ github.workspace }}/packages.txt /tmp/
          cp -v ${{ github.workspace }}/chroot-packages.txt /tmp/
          sudo systemd-nspawn --bind /tmp:/tmp/hosttmp --bind-ro /etc/resolv.conf --hostname localhost --machine arm64-debian -- sh /tmp/hosttmp/prepare-build-chroot.sh
          sudo systemd-nspawn --bind /tmp:/tmp/hosttmp --bind-ro /etc/resolv.conf --hostname localhost --machine arm64-debian --user builder -- sh /tmp/hosttmp/build-deno.sh
      - name: Uploading artifacts
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: /tmp/deno_deb/
      - name: Creating release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            /tmp/deno_deb/*
